*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  } */

.main{
    background-image: url(./giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container{
 
    width: 500px; 
    height: 400px; 
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.inputfields{
    width: 70%;
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
}
.button{
    width: 70%;
    padding: 15px;
    margin: 10px;
    background-color: #166FE5;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
span{
    position: relative;
    display: inline-flex;
    width: 280px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-top: 20px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "Not registered? Create an account";
    height: 55px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }
  span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  